*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-normal: #a8a77a;
  --color-fire: #ee8130;
  --color-water: #6390f0;
  --color-grass: #7ac74c;
  --color-electric: #f7d02c;
  --color-ice: #96d9d6;
  --color-fighting: #c22e28;
  --color-poison: #a33ea1;
  --color-ground: #e2bf65;
  --color-flying: #a98ff3;
  --color-psychic: #f95587;
  --color-bug: #a6b91a;
  --color-rock: #b6a136;
  --color-ghost: #735797;
  --color-dark: #705746;
  --color-dragon: #6f35fc;
  --color-steel: #b7b7ce;
  --color-fairy: #d685ad;
}

.hidden {
  display: none;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.pokedex {
  display: flex;
  flex-direction: column;
  width: 35rem;
  height: 50rem;

  align-items: center;
  justify-content: center;
}

#pokemon:focus {
  outline: none;
}
#type__list,
#stats__list {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

#stats__list {
  flex-direction: column;
}

.stats__list__item {
  display: flex;
}
.stats__list__item p {
  margin-right: 1rem;
}

.stats__list__item p:first-child {
  width: 7rem;
  border: 1px solid black;
}
.stats__list__item p:last-child {
  border: 1px solid black;
  width: 255px;
}

#type__list li {
  margin: 1rem;
}

#type__list li {
  padding: 0.5rem 2rem;
  border-radius: 1.5rem;
  color: white;
}

img {
  height: 10rem;
}

.image-div {
  background-color: var(--color-rock);
}
